{% extends 'base.html.twig' %}

{% block title %} {{ titre}} {% endblock %}

{% block body %}
    <h1> {{ titre }} </h1>
    <ul>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.libelle, {'label': 'Libelle' }) }}
        {{ form_row(form.tarif, {'label': 'Tarif' }) }}
        {{ form_end(form) }}
    </ul>
    <h5><a href = {{ path('accueil') }}>Annuler </a></h5>
{% endblock %}
